
<% @coach.users.each do |user| %>
  <% user_note = user.notes.where(coach_id: @coach.id) %>
  <ul class="list-group">
    <span class="badge"><%= user.name %></span>
    <li class="list-group-item">


      <% if user_note.empty? == false %>
          <span class="badge"><%= link_to 'User Notes', user_note.first , class:"btn btn-default"%></span>
      <% else %>
          <%= render partial: "notes_form", locals: { user: user} %>
      <% end %>


          <span class="badge"><%= link_to 'User Details', user , class:"btn btn-default"%></span>
          <% if user.conversations.length >= 1 %>
            <% user.conversations.each do |convo| %>
              <% if convo.coach_id == @coach.id %>
                  <span class="badge"><%= link_to 'View Conversation', convo, class:"btn btn-default"%></span>
              <% end %>
            <% end %>
          <% else %>
          <%= render partial: "conversation_form", locals: { user: user} %>
          <% end %>
    </li>
  </ul>
<% end %>

<% @coach.find_user_1.each do |user| %>
  <% user_note = user.notes.where(coach_id: @coach.id) %>
  <ul class="list-group">
    <span class="badge"><%= user.name %></span>
    <li class="list-group-item">
      <% if user_note.empty? == false %>
          <span class="badge"><%= link_to 'User Notes', user_note.first , class:"btn btn-default"%></span>
      <% else %>
          <%= render partial: "notes_form", locals: { user: user} %>
      <% end %>
          <span class="badge"><%= link_to 'User Details', user , class:"btn btn-default"%></span>

          <% if user.conversations.length >= 1 %>
            <% user.conversations.each do |convo| %>
              <% if convo.coach_id == @coach.id %>
                  <span class="badge"><%= link_to 'View Conversation', convo, class:"btn btn-default"%></span>
              <% end %>
            <% end %>
          <% else %>
          <%= render partial: "conversation_form", locals: { user: user} %>
          <% end %>
    </li>
  </ul>
<% end %>


<% @coach.find_user_2.each do |user| %>
  <% user_note = user.notes.where(coach_id: @coach.id) %>
  <ul class="list-group">
    <span class="badge"><%= user.name %></span>
    <li class="list-group-item">
      <% if user_note.empty? == false %>
          <span class="badge"><%= link_to 'User Notes', user_note.first , class:"btn btn-default"%></span>
      <% else %>
          <%= render partial: "notes_form", locals: { user: user} %>
      <% end %>
          <span class="badge"><%= link_to 'User Details', user , class:"btn btn-default"%></span>

          <% if user.conversations.length >= 1 %>
            <% user.conversations.each do |convo| %>
              <% if convo.coach_id == @coach.id %>
                  <span class="badge"><%= link_to 'View Conversation', convo, class:"btn btn-default"%></span>
              <% end %>
            <% end %>
          <% else %>
          <%= render partial: "conversation_form", locals: { user: user} %>
          <% end %>
    </li>
  </ul>
<% end %>


<% @coach.find_user_3.each do |user| %>
  <% user_note = user.notes.where(coach_id: @coach.id) %>
  <ul class="list-group">
    <span class="badge"><%= user.name %></span>
    <li class="list-group-item">
      <% if user_note.empty? == false %>
          <span class="badge"><%= link_to 'User Notes', user_note.first , class:"btn btn-default"%></span>
      <% else %>
          <%= render partial: "notes_form", locals: { user: user} %>
      <% end %>
          <span class="badge"><%= link_to 'User Details', user , class:"btn btn-default"%></span>

          <% if user.conversations.length >= 1 %>
            <% user.conversations.each do |convo| %>
              <% if convo.coach_id == @coach.id %>
                  <span class="badge"><%= link_to 'View Conversation', convo, class:"btn btn-default"%></span>
              <% end %>
            <% end %>
          <% else %>
          <%= render partial: "conversation_form", locals: { user: user} %>
          <% end %>
    </li>
  </ul>
<% end %>

<% @coach.find_user_4.each do |user| %>
  <% user_note = user.notes.where(coach_id: @coach.id) %>
  <ul class="list-group">
    <span class="badge"><%= user.name %></span>
    <li class="list-group-item">
      <% if user_note.empty? == false %>
          <span class="badge"><%= link_to 'User Notes', user_note.first , class:"btn btn-default"%></span>
      <% else %>
          <%= render partial: "notes_form", locals: { user: user} %>
      <% end %>
          <span class="badge"><%= link_to 'User Details', user , class:"btn btn-default"%></span>

          <% if user.conversations.length >= 1 %>
            <% user.conversations.each do |convo| %>
              <% if convo.coach_id == @coach.id %>
                  <span class="badge"><%= link_to 'View Conversation', convo, class:"btn btn-default"%></span>
              <% end %>
            <% end %>
          <% else %>
          <%= render partial: "conversation_form", locals: { user: user} %>
          <% end %>
    </li>
  </ul>
<% end %>
