

<% coach = @user.coach %>

<ul class="list-group">
  <span class="badge"><%= coach.name %></span>
<br>
<br>

  <li class="list-group-item">
    <%= render partial: "users_conversation_form", locals: { coach: coach} %>
  </li>
</ul>

<% if @user.find_coach_1 != nil %>
  <% coach = @user.find_coach_1 %>
  <ul class="list-group">
    <span class="badge"><%= coach.name %></span>
  <br>
  <br>

    <li class="list-group-item">
      <%= render partial: "users_conversation_form", locals: { coach: coach} %>
    </li>
  </ul>
<% end %>


<% if @user.find_coach_2 != nil %>
  <% coach = @user.find_coach_2 %>
  <ul class="list-group">
    <span class="badge"><%= coach.name %></span>
  <br>
  <br>

    <li class="list-group-item">
      <%= render partial: "users_conversation_form", locals: { coach: coach} %>
    </li>
  </ul>
<% end %>

<% if @user.find_coach_3 != nil %>
  <% coach = @user.find_coach_3 %>
  <ul class="list-group">
    <span class="badge"><%= coach.name %></span>
  <br>
  <br>

    <li class="list-group-item">
      <%= render partial: "users_conversation_form", locals: { coach: coach} %>
    </li>
  </ul>
<% end %>

<% if @user.find_coach_4 != nil %>
<% coach = @user.find_coach_4 %>
<ul class="list-group">
  <span class="badge"><%= coach.name %></span>
<br>
<br>

  <li class="list-group-item">
    <%= render partial: "users_conversation_form", locals: { coach: coach} %>
  </li>
</ul>
<% end %>
