
<p id="notice"><%= notice %></p>


<h1>Please Sign In</h1>
 <%= form_tag do %>
   <p><%= email_field_tag :email, nil, placeholder: "Email" %></p>
  <p><%= password_field_tag :password, nil, placeholder: "Password" %></p>
  <%= submit_tag "Sign In", class: "btn-health" %>
 <% end %>
<br>
 <%= link_to 'Sign Up Now', new_user_path, class: 'send_button' %> <span class='orange_text'>|</span> 
 <%= link_to 'Forgot your password?', reports_write_email_path, class: 'send_button' %>
