<p id="notice"><%= notice %></p>

<h1>Listing Notes</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Coach</th>
      <th>Note 1</th>
      <th>Note 2</th>
      <th>Note 3</th>
      <th>Note 4</th>
      <th>Note 5</th>
      <th>Note 6</th>
      <th>Note 7</th>
      <th>Note 8</th>
      <th>Note 9</th>
      <th>Note 10</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.user_id %></td>
        <td><%= note.coach_id %></td>
        <td><%= note.note_1 %></td>
        <td><%= note.note_2 %></td>
        <td><%= note.note_3 %></td>
        <td><%= note.note_4 %></td>
        <td><%= note.note_5 %></td>
        <td><%= note.note_6 %></td>
        <td><%= note.note_7 %></td>
        <td><%= note.note_8 %></td>
        <td><%= note.note_9 %></td>
        <td><%= note.note_10 %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path %>
