<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @note.user_id %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @note.coach_id %>
</p>

<p>
  <strong>Note 1:</strong>
  <%= @note.note_1 %>
</p>

<p>
  <strong>Note 2:</strong>
  <%= @note.note_2 %>
</p>

<p>
  <strong>Note 3:</strong>
  <%= @note.note_3 %>
</p>

<p>
  <strong>Note 4:</strong>
  <%= @note.note_4 %>
</p>

<p>
  <strong>Note 5:</strong>
  <%= @note.note_5 %>
</p>

<p>
  <strong>Note 6:</strong>
  <%= @note.note_6 %>
</p>

<p>
  <strong>Note 7:</strong>
  <%= @note.note_7 %>
</p>

<p>
  <strong>Note 8:</strong>
  <%= @note.note_8 %>
</p>

<p>
  <strong>Note 9:</strong>
  <%= @note.note_9 %>
</p>

<p>
  <strong>Note 10:</strong>
  <%= @note.note_10 %>
</p>

<%= link_to 'Edit', edit_note_path(@note), class: "btn btn-info" %>


<% if session[:coach_id] != nil %>
  <a href="/coaches/" class="btn btn-info">Back</a>
<% elsif session[:user_id] != nil %>
  <a href="/users/" class="btn btn-info">Back</a>
<% end %>
