<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <span class="text-info"><%= User.find(@conversation.user_id).name %></span>
</p>

<p>
  <strong>Coach:</strong>
  <span class="text-success"><%= Coach.find(@conversation.coach_id).name %></span>
</p>

<div class="chat">
  <% @conversation.messages.each do |message| %>
    <% if message.user_id != nil %>
      <div class="msgtext-right">
        <p class="msgwhite-shadow"><%= message.body %></p>
      </div>
    <% elsif message.coach_id != nil %>
      <div class="msgtext-left">
        <p class="msgwhite-shadow"><%= message.body %></p>
      </div>
    <% end %>
  <% end %>
</div>

<br>

<p>Enter New Message:</p>
<%= form_for @message do |f| %>
  <%= render partial: "message_form", locals: {f: f} %>
<% end %>

<% if session[:coach_id] != nil %>
  <a href="/coaches/" class="">Message List</a>
<% elsif session[:user_id] != nil %>
  <a href="/users/" class="">Message List</a>
<% end %>
