<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <span class="text-info"><%= User.find(@conversation.user_id).name %></span>
</p>

<p>
  <strong>Coach:</strong>
  <span class="text-success"><%= Coach.find(@conversation.coach_id).name %></span>
</p>

<table class="conversation table table-striped table-hover ">

    <% @conversation.messages.each do |message| %>
      <tr>
        <% if message.user_id != nil %>
          <td class="info text-right" ><%= message.body %></td>
        <% elsif message.coach_id != nil %>
        <td class="success text-left"><%= message.body %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<%= form_for @message do |f| %>
  <%= render partial: "message_form", locals: {f: f} %>
<% end %>

<% if session[:coach_id] != nil %>
  <a href="/coaches/" class="btn btn-info">Back</a>
<% elsif session[:user_id] != nil %>
  <a href="/users/" class="btn btn-info">Back</a>
<% end %>
