<nav class="messages navbar navbar-static">
  <div class="container-fluid" style="padding:0 1px;">
    <div class="nav row">
      <div class="col-xs-4"><a href="<%= teams_index_path %>"><i class="fa fa-angle-left"></i><span>Conversations</span></a></div>
      <div class="col-xs-4 name"><%= @name %></div>
      <div class="col-xs-4 details"><%= link_to 'View Profile', @profile %></div>
    </div>
  </div>
</nav>
<div class="conversation">
  <div class="chat <%= @perspective %>">
    <% if @conversation.messages != nil %>
      <% @conversation.messages.each do |message| %>
        <div class="msg <%= session[:coach_id] != nil ? (message.user_id != nil ? "receive" : "send") : (message.user_id != nil ? "send" : "receive") %>">
          <div id="message_body" class="msgtext"><%= message.body.empty? ? raw("&nbsp;") : message.body.html_safe %></div>
          <div class="time"><%= message.updated_at.strftime('%H:%M') %></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class=" row">
  <%= form_for @message do |f| %>
    <%= render partial: "message_form", locals: {f: f} %>
  <% end %>
</div>
