<%= form_for @user, url: wizard_path do |f| %>

  <div class="field">
    <%= f.label :phone %><br>
    <%= f.number_field :phone %>
  </div>


  <div class="field">
    <%= f.label :zip %><br>
    <%= f.number_field :zip %>
  </div>

  <div class="field">
    <%= f.check_box :role %>
    <%= f.label "I have read and agree to the"%>
    <%= link_to "Terms of Service", abouts_terms_path, target: '_blank' %>
  </div>

  <div class="actions">
    <%= f.submit "Submit"%>
  </div>

<% end %>
