<% if notice %>
  <p id="notice_login"><%= notice %></p>
<% end %>

<%= form_for @user, url: wizard_path do |f| %>

<!-- <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %> -->
<br/>
  <div class="field">
    <%= f.label :phone %>*<br>
    <%= f.telephone_field :phone, required: true, pattern: '^\d{10}$', placeholder: "Mobile Number", title: "format: xxxxxxxxxx" %>
    <p class="smalltext">(Please enter in the format: xxxxxxxxxx (no spaces or dashes))</p>
  </div>

  <div class="field">
    <%= f.label :zip %><br>
    <%= f.number_field :zip %>
  </div>

  <div class="field">
    <%= f.check_box :role, required: true %>
    <%= f.label "I have read and agree to the"%>
    <%= link_to "Terms of Use and Terms of Service", abouts_terms_path, target: '_blank' %>
  </div>

  <p class="smalltext">* = Required field</p>
  <div class="actions">
    <%= f.submit "Submit"%>
  </div>

<% end %>
