<div class="col-sm-12">
  <h1 class="text-center">Sign Up Steps:</h1>
  <h2 class="text-center"><strong>1 . . 2 . .</strong> 3</h2>
  <p>
    <%= flash[:error] unless flash[:error].blank? %>
  </p>
  <p class="text-center">Build your team! Choose one primary coach and two secondary coaches to be your HealthStyle team.</p>
  <% @coaches.each do |coach| %>
      <% if coach.approved %>
        <div class="text-center each-coach col-sm-12 col-md-4 col-lg-3">
          <h3><%= coach.first %></h3>
          <img src="<%= coach.avatar_url if coach.avatar_url.present? %>" class="img-responsive">
          <p><%= coach.philosophy %></p>
        </div>
      <% end %>
  <% end %>
  <!-- <div class="text-center each-coach col-sm-12 col-md-4 col-lg-3">
    <h3>Alex</h3>
      <%= image_tag "AlexA.jpg", class: "img-responsive" %>
      <p>I started MyHealthStyle because of my past with childhood obesity and my passion for people to feel free in their bodies to do the adventures they want to do.</p>
  </div>
  <div class="text-center each-coach col-sm-12 col-md-4 col-lg-3">
    <h3>Terri</h3>
      <%= image_tag "TerriB.jpg", class: "img-responsive" %>
      <p>I believe people learn through experiences, and I am very good at helping understand what those experiences can mean in your life.</p>
  </div>
  <div class="text-center each-coach col-sm-12 col-md-4 col-lg-3">
    <h3>Joe</h3>
      <%= image_tag "Joe Everyday movement.jpg", class: "img-responsive" %>
      <p>Our bodies require us to move everyday.  How can we make that movement count for an even better tomorrow?</p>
  </div>
  <div class="text-center each-coach col-sm-12 col-md-4 col-lg-3">
    <h3>Lisa</h3>
      <%= image_tag "Lisa W Wellness.jpg", class: "img-responsive" %>
      <p>Its not always about calories and exercise. An important part is your presence in a moment. Mindfulness is also key!</p>
  </div>
  <div class="text-center each-coach col-sm-12 col-md-4 col-lg-3">
    <h3>Martha</h3>
      <%= image_tag "Martha Education is important.jpg", class: "img-responsive" %>
      <p>Education is important in understanding and making decisions.  But there is a lot of it out there. I can help you sort through it and find whats important to you.</p>
  </div>
  <div class="text-center each-coach col-sm-12 col-md-4 col-lg-3">
    <h3>Professor D</h3>
      <%= image_tag "Professor D.jpg", class: "img-responsive" %>
      <p>Behaviors are my specialty.</p>
  </div> -->
</div>
