<p id="notice"><%= notice %></p>

<!-- <h1>User Dashboard </h1> -->
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Welcome <%= @user.first %></h3>
  </div>
  <!-- <div class="panel-body">
  </div> -->
</div>

<table class="table table-striped table-hover" >
  <tbody>
    <tr id="desktopshow">
      <th></th>
      <th><%= link_to "Coach", :sort => "coach.first" %></th>
      <th>Status</th>
      <th>Message</th>
      <th><%= link_to "Date", :sort => "created_at" %></th>
    </tr>
    <% @user.conversations.each do |convo| %>

      <% if convo.messages.length > 0%>
        <tr class='clickable-row' data-href='/conversations/<%= convo.id %>'>
          <% if convo.messages.last.read == nil && convo.messages.last.coach_id != nil%>
            <td><i class="fa fa-circle orange_text" aria-hidden="true"></i></td>
          <% else %>
            <td><i class="fa fa-circle" aria-hidden="true"></i> </td>
          <% end %>
          <td>
            <%= convo.coach.first %>
            <%= convo.coach.last %>
          </td>
            <!-- <td><%= convo.coach.email %></td> -->
          <td>
            <% if convo.messages.last.read == nil && convo.messages.last.coach_id != nil%>
              <span class="orange_text"><i>New message!</i></span>
            <% else %>
              <i>No unread messages</i>
            <% end %>
          </td>
          <td>
            <%= convo.messages.last.body_snippet %>
          </td>
          <td>
            <%= convo.messages.last.created_at.to_formatted_s(:short)  %>
          </td>
        </tr>
      <% else %>
        <tr>
          <td>
            <i class="fa fa-circle-o" aria-hidden="true"></i>
          </td>
          <td><<%= convo.coach.first %><%= convo.coach.last %></td>
          <td>
            <i>No new messages</i>
          </td>
          <td><%= link_to "Start the conversation now!", controller: :conversations, action: :new %></td>
          <td></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>






<% if @user.conversations.length == 0 %>
<p>We will notify you as soon as we assign your team of coaches. This shouldn't take long.</p>
<% end %>
