<p id="notice"><%= notice %></p>
<h1>User Profile</h1>




  <span class="badge"><%=image_tag @user.avatar_url, class: "center-block"%></span>

<ul class="list-group">
  <li class="list-group-item">
    <span class="badge"><%= @user.name %></span>
    <strong>Name:</strong>
  </li>
  <li class="list-group-item">
    <span class="badge"><%= @user.email %></span>
  <strong>  Email: </strong>
  </li>

  <li class="list-group-item">
    <span class="badge"><%= @user.phone %></span>
  <strong>  Phone: </strong>
  </li>
  <li class="list-group-item">
    <span class="badge"><%= @user.zip %></span>
  <strong>  Zip: </strong>
  </li>

  <% if @user.id == session[:user_id] %>
  <li class="list-group-item">
    <span class="badge"></span>
  <%= link_to 'Edit', edit_user_path(@user), class: 'list-group-item btn btn-info'%>
  </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
