<p id="notice"><%= notice %></p>
<h1>User Profile</h1>

<% if @user.avatar_url == nil %>
  <div id="profile_img">
    <span class="badge"><img class="center-block" src="/assets/generic_avatar.jpg" alt="alt avatar"/></span>
  </div>
<% else %>
  <div id="profile_img">
    <span class="badge"><%=image_tag @user.avatar_url, class: "center-block"%></span>
  </div>
<% end %>

<ul class="list-group">
  <li class="list-group-item">
    <span class="orange_text"><%= @user.first %></span>
    <strong>First:</strong>
  </li>
  <li class="list-group-item">
    <span class="orange_text"><%= @user.last %></span>
    <strong>Last:</strong>
  </li>
  <li class="list-group-item">
    <span class="orange_text"><%= @user.email %></span>
  <strong>  Email: </strong>
  </li>

  <li class="list-group-item">
    <span class="orange_text"><%= @user.phone %></span>
  <strong>  Phone: </strong>
  </li>
  <li class="list-group-item">
    <span class="orange_text"><%= @user.zip %></span>
  <strong>  Zip: </strong>
  </li>

  <% if @user.id == session[:user_id] %>
  <li class="list-group-item">
    <span class="orange_text"></span>
  <%= link_to 'Edit', edit_user_path(@user), class: 'list-group-item btn btn-info edit'%>
  </li>
  <% end %>
</ul>
