<p id="notice"><%= notice %></p>


<ul class="list-group">
  <li class="list-group-item">
    <span class="badge"><%= @user.name %></span>
    <strong>Name:</strong>
  </li>
  <li class="list-group-item">
    <span class="badge"><%= @user.email %></span>
  <strong>  Email: </strong>
  </li>
  <li class="list-group-item">
    <span class="badge"><%= @user.coach_id %></span>
    <strong>Coach:</strong>
  </li>
  <li class="list-group-item">
    <span class="badge"><%= @user.coach_1 %></span>
    <strong>Coach 1:</strong>
  </li>
  <li class="list-group-item">
    <span class="badge"><%= @user.coach_2 %></span>
    <strong>Coach 2:</strong>
  </li>
  <li class="list-group-item">
    <span class="badge"><%= @user.coach_3 %></span>
    <strong>Coach 3:</strong>
  </li>
  <li class="list-group-item">
    <span class="badge"><%= @user.coach_4 %></span>
    <strong>Coach 4:</strong>
  </li>
  <li class="list-group-item">
    <span class="badge"></span>
<%= link_to 'Edit', edit_user_path(@user), class: 'list-group-item btn btn-info'%>
  </li>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
