<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Coach:</strong>
  <%= @user.coach_id %>
</p>

<p>
  <strong>Coach 1:</strong>
  <%= @user.coach_1 %>
</p>

<p>
  <strong>Coach 2:</strong>
  <%= @user.coach_2 %>
</p>

<p>
  <strong>Coach 3:</strong>
  <%= @user.coach_3 %>
</p>

<p>
  <strong>Coach 4:</strong>
  <%= @user.coach_4 %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
