<br><p>Meet our wonderful coaches!</p>


<table class="table table-responsive table-hover team">
  <tr>
    <td>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Korina</h3>
        </div>
        <div class="panel-body">
          <div class="panel-body-left">
            <%= image_tag("Korina.png", alt: "Coach - Korina", size:"100x137")%>
          </div>
          <div class="panel-body-right">
            <p>Empowering you to be the best you</p>
          </div>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Trecy</h3>
        </div>
        <div class="panel-body">
            <%= image_tag("Trecy.png", alt: "Coach - Trecy", size:"100x133")%>
        </div>
        <div class="panel-body-right">
          <p>Christian Holistic Health Coach</p>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Cheryl</h3>
        </div>
        <div class="panel-body">
            <%= image_tag("Cheryl.png", alt: "Coach - Cheryl", size:"100x137")%>
        </div>
        <div class="panel-body-right">
          <p>Let's focus on balance together</p>
        </div>
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Sue</h3>
        </div>
        <div class="panel-body">
            <%= image_tag("Sue.png", alt: "Coach - Sue", size: "112x93")%>
        </div>
        <div class="panel-body-right">
          <p>Control what you can</p>
        </div>
      </div>
    </td>
  </tr>
</table>

<p>Ready to get started?</p>

<%= link_to "Sign up today!", new_user_path, class: "btn btn-info" %>
