
<div class="jumbotron welcome">
  <%= image_tag "Introductory.png", class: " col-sm-12 text-center offer"%>

  <%= image_tag "HS_Logo_B3_LO.jpg", class: "main-image"%>
  <div class="col-md-12 text-center tagline">
    <button class="btn sign-up-button"><a href="#next" class="sign-up-text">Learn More</a></button>
    <span id="mobileshow"><h2><span class="tagline">Three Coaches, One Goal:</span> A Healthier You!</h2></span>
    <span id="desktopshow"><h2>Three Coaches, One Goal: A Healthier You!<br/></h2></span><br/>
    <span class="mobile_hide"><br/><br/></span>
    <!-- <a href="#next" class="btn btn-primary btn-lg button-center">Learn more </a> -->
    <!-- <a href="#next" class="orange_text large">Learn more</a> -->
    <div class="sign-up-button-group">

      <!-- <li class="divider">|</li> -->
      <button class="btn sign-up-button"><%= link_to 'Sign Up Now', new_user_path, class: "sign-up-text"%></button>
      <!-- <li class="divider">|</li> -->
      <button class="btn sign-up-button"><%= link_to 'Sign In', sessions_login_path, class: "sign-up-text"%></button>
    </div>
    <div>
      <a class="arrow-wrap" href="#next" style="opacity: 0.395792;">
      <span class="arrow"></span></a>
    </div>
  </div>
  <br>
</div>
<!-- <ul class="welcome nav"> -->

<!-- </ul> -->
<a name="next"></a>
<div class="next learn-more text-center">
  <br/>
  <span class="mobile_hide"><br/><br/><br/><br/></span>
  <div id="uno">
    <h2 id="uno">What is MyHealthStyle?</h2>
  </div>
  <p><i class="fa fa-mobile" aria-hidden="true"></i>
    The MyHealthStyle App puts the power of personal Health Coaching
   in the palm of your hand and on your mobile device.</p>

  <p><i class="fa fa-balance-scale" aria-hidden="true"></i>
    Real credentialed professionals dedicated to mentoring you as you
   journey to your individual health goals.</p>

  <p><i class="fa fa-users" aria-hidden="true"></i>When you join you will be assigned a team of three HealthStyle
  Coaches who will guide you in a holistic yet accountable manner.</p>

  <p><i class="fa fa-user" aria-hidden="true"></i>
    Your Lead Coach with be in touch every day helping you
  with unwanted behaviors, while your two Team Coaches will
  each encourage you twice a week with specific issues.</p>

  <p><i class="fa fa-university" aria-hidden="true"></i>
    Using this proven approach and additional resources within our
  website, we create an uplifting environment of education and
  hope that enables our clients to thrive.</p>

  <p><i class="fa fa-hand-o-up" aria-hidden="true"></i>
    Imagine finally attaining your health goals with long-term
   behavior modification right in your fingertips.</p>

  <p><i class="fa fa-clipboard" aria-hidden="true"></i>
    It is this human-to-human contact, every day, with real
  credentialed Health Coaches that makes all the difference
  in reaching and maintaining your goals.</p>

  <p><i class="fa fa-male" aria-hidden="true"></i><i class="fa fa-female" aria-hidden="true"></i>
    Let the MyHealthStyle App make a difference for you.</p>
</div>
<div class="col-sm-12">
  <div class="col-md-4 col-md-offset-4">
    <%= image_tag "price_chart.jpg", class: "img-responsive" %>
  </div>
</div>
<script>
  window.intercomSettings = {
    app_id: "rznrsm2q"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/rznrsm2q';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
