<p id="notice"><%= notice %></p>

<h1>Coaches Profile</h1>

<ul class="list-group">
  <li class="list-group-item">
    <span class="badge"><%= @coach.name %></span>
    Name:
  </li>
  <li class="list-group-item">
    <span class="badge"><%= @coach.email %></span>
    Email:

  </li>
  <li class="list-group-item">
<%= link_to 'Edit', edit_coach_path(@coach), class: 'list-group-item btn btn-info'%>
  </li>
</ul>



<%= link_to 'Back', coaches_path, class: 'btn btn-default' %>
